
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account admin login</title>

<link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="/vendor/aos/aos.css" rel="stylesheet">
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="/css/login.css" rel="stylesheet">


<style>
  body{
    color: #780000;
    background-color: #780000;
  }
</style>

</head>

<body>

<!-- second -->
  <section class="vh-100">
    <div class="container py-5 h-100">
    <div class="welcome">  welcome to Probity LMS</div>
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-sm-4 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">Sign in as an Admin</h3>
              
  
              <form name="loginform" action="">
              <div class="form-outline mb-4">
                <input type="text" name="user_name" id="typeEmailX-2" placeholder="email/username" class="form-control form-control-sm"  />
                <label class="form-label" for="typeEmailX-2" id="user_name"  >Email</label>
              </div>
  
              <div class="form-outline mb-4">
                <input type="password" name="pass_word" id="typePasswordX-2" placeholder="" class="form-control form-control-sm" required />
                <label class="form-label color-success" for="typePasswordX-2" id="pass_word">Password</label>
              </div>
  
              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-start mb-4">
                <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                <label class="form-check-label" for="form1Example3"> Remember password </label>
              </div>
              <!-- <button class="btn btn-primary btn-sm btn-block" type="submit">Login</button> -->
              <input  type="button" value="login"  onclick="login()"/>
              <br><br>

              <p>Don't have account ? <a href="/signUp">register here</a> </p>

            </form>
  
              <!-- <hr class="my-4">
   -->
              <!-- <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
                type="submit"><i class="fab fa-google me-2"></i> Sign in with google</button>
              <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;"
                type="submit"><i class="fab fa-facebook-f me-2"></i>Sign in with facebook</button> -->
  
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>


  <!-- <form  name="loginform" action="thanks.html">
    <input  type="text" name="user_name"/>
    <input  type="password" name="pass_word"/>
    <input  type="button" value="login"  onclick="login()"/>
  </form> -->

  <!-- Section: Design Block -->
  <script>
    function login(){
          var user = document.loginform.user_name.value;
          var pass = document.loginform.pass_word.value;
    if(user == "" || pass == ""){
            alert("sorry...Please Enter Username and Passowrd");
       }else{
    if((user == "wal" || user == "WAL") && pass == "23"){
            window.location.replace("http://127.0.0.1:5500/ProbityLMS.html");
      }else{
           alert("Please Enter Correct Login details");
    }
         }
             }
  </script>

  
  <!-- <script>
    function login(){
          var user = document.loginform.user_name.value;
          var pass = document.loginform.pass_word.value;
    if(user == "" || pass == ""){
            alert("sorry...Please Enter Username and Passowrd");
       }else{
    if((user == "waliu" || user == "WALIURAHEEM5@GMAIL.COM") && pass == "admin"){
            window.location.replace("http://127.0.0.1:5500/programmes.html");
      }else{
           alert("Please Enter Correct Login details");
    }
         }
             }
  </script> -->

<!-- Section: Design Block -->

<!-- <script>
function auth(event) {
  event.preventDefault();

  var username = document.getElementById("username").value;
  var password = document.getElementById("password").value;

  if (username === "admin@gmail.com" && password === "user") {
       window.location.replace("http://www.rex14.ml/");
  } else {
      alert("Please enter valid information");
      return;
  }
if (username === "" && password === "") {
       alert("Please enter information");
  } else {
      
      return;
  }
}
</script> -->

</body>
</html>

  
  
